h1 {
    text-align: center;
}

div.syntax {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 30px;
    width: fit-content;
    margin-bottom: 30px;
}

div.content {
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid black;
}

div.hover-div {
    background-color: green;
    color: white;
    padding: 25px;
    text-align: center;
}

div.hover-div:hover {
    background-color: blue;
}

p.p-tooltip {
    display: none;
    background-color: yellow;
    padding: 20px;
}

div.tooltip:hover p.p-tooltip {
    display: block;
}

div.first-child {
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid blue;
    margin-bottom: 5px;
}

p.p-1:first-child {
    color: blue;
}

p.p-2 i:first-child {
    color: blue;
}

p.p-3:first-child i {
    color: blue;
}

p.first-line::first-line {
    color: #ff0000;
    font-variant: small-caps;
}

p.first-letter::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

p.pseudo-e-html::first-letter {
    color: #ff0000;
    font-size: 200%;
}

p.multiple-pseudo::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

p.multiple-pseudo::first-line{
    color: #0000ff;
    font-variant: small-caps;
}

/* unvisited link */
a.link-anchor:link {
    color: #FF0000;
}
  
/* visited link */
a.link-anchor:visited {
    color: #00FF00;
}
  
/* mouse over link */
a.link-anchor:hover {
    color: #FF00FF;
}
  
/* selected link */
a.link-anchor:active {
    color: #0000FF;
}

a.link-pseudo-html:hover {
    color: #ff0000;
    font-size: 22px;
}

q:lang(no) {
    quotes: "~" "~";
}

h4.before-pseudo::before {
    content: url(smiley.gif);
}

h4.after-pseudo::after {
    content: url(smiley.gif);
}

::selection {
    color: red;
    background: yellow;
}