h1 {
    text-align: center;
}

div.descendant, div.child {
    border: 2px solid yellow;
    padding: 10px;
}

div.descendant-example p {
    background-color: yellow;
}

div.child-example > p {
    background-color: yellow;
}