h1 {
    text-align: center;
    color: red;
}
#heading2 {
    text-align: center;
    color: pink;
}
.h3 {
    text-align: center;
    color: purple;
}
p.h3 {
    text-align: center;
    color: blue;
}