h1 {
    text-align: center;
}

/* Styling Links */
/* unvisited link */
a.stylingLinks:link {
    color: red;
    text-decoration: none;
    background-color: yellow;
  }
/* visited link */
a.stylingLinks:visited {
    color: green;
    text-decoration: none;
    background-color: cyan;
}
/* mouse over link */
a.stylingLinks:hover {
    color: hotpink;
    text-decoration: underline;
    background-color: lightgreen;
} 
/* selected link */
a.stylingLinks:active {
    color: blue;
    text-decoration: underline;
    background-color: hotpink;
}

/* Button Links */
a.buttonLinks1:link, a.buttonLinks1:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  } 
a.buttonLinks1:hover, a.buttonLinks1:active {
    background-color: red;
}

a.buttonLinks2:link, a.buttonLinks2:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a.buttonLinks2:hover, a.buttonLinks2:active {
    background-color: green;
    color: white;
}