body {
    background-image: url(img_tree.png);
    background-repeat: repeat-x;
}
h1 {
    text-align: center;
    background-color: dodgerblue;
    color: white;
}
h2.border {
    border: 2px solid tomato;
    text-align: center;
}
h3.ColorValues1 {
    background-color: rgb(255, 99, 71);
    text-align: center;
    color: white;
}
h3.ColorValues2 {
    background-color: rgba(255, 99, 71, 0.5);
    text-align: center;
}