body {
    background-color: gainsboro;
    color: darkblue;
}
h1 {
    text-align: center;
}
h2.right {
    text-align: right;
}
p.direction {
    direction: rtl;
    unicode-bidi: bidi-override;
}
p.overline {
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}
p.underline {
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
}
p.line-through {
    text-decoration-line: line-through;
    text-decoration-color: yellow;
    text-decoration-style: double;
    text-decoration-thickness: 10%;
}
p.overline_underline {
    text-decoration-line: overline underline;
    text-decoration-color: purple;
    text-decoration-style: wavy;
    text-decoration-thickness: 25%;
}
p.shorthand {
    text-decoration: overline underline red solid 2px;
}