h1.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}
h2 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
/* Font Family */
p.serif {
     font-family: "Times New Roman", Times, serif; /* Fallback Fonts */
}
p.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}
p.monospace {
    font-family: "Lucida Console", "Courier New", monospace;
}
p.cursive {
    font-family: "Brush Script MT", "Lucida Handwriting", "cursive";
}
p.fantasy {
    font-family: "Copperplate", "Papyrus", "fantasy";
}
/* Font Style */
p.normal {
    font-style: normal;
}
p.italic {
    font-style: italic;
}
p.oblique {
    font-style: oblique;
}
/* Font Weight */
p.weightNormal {
    font-weight: normal;
}
p.weightBold {
    font-weight: bold;
}
/* Font Variant */
p.variantNormal {
    font-variant: normal;
}
p.variantSmallCaps{
    font-variant: small-caps;
}
/* Font Sizes */
body {
    font-size: 100%;
}
p.pixels {
    font-size: 50px;
}
p.em {
    font-size: 3em;
}
p.responsiveSize {
    font-size: 7vw;
}
/* Google Fonts */
h1.audiowide {
    font-family: "Audiowide", sans-serif;
}
h1.sofia {
    font-family: "Sofia", sans-serif;
}
h1.trirong {
    font-family: "Trirong", serif;
}
/* Google Font Effect */
h1.font-effect-neon, h1.font-effect-outline, h1.font-effect-emboss, h1.font-effect-shadow-multiple {
    font-family: "Sofia", sans-serif;
}