h1 {
    text-align: center;
}
/* Border Style & Outline Style*/
p.dotted {
    border-style: dotted;
    outline-style: dotted;
}
p.dashed {
    border-style: dashed;
    outline-style: dashed;
}
p.solid {
    border-style: solid;
    outline-style: solid;
}
p.double {
    border-style: double;
    outline-style: double;
}
p.groove {
    border-style: groove;
    outline-style: groove;
}
p.ridge {
    border-style: ridge;
    outline-style: ridge;
}
p.inset {
    border-style: inset;
    outline-style: inset;
}
p.outset {
    border-style: outset;
    outline-style: outset;
}
p.none {
    border-style: none;
}
p.hidden {
    border-style: hidden;
}
p.mix {
    border-style: dotted dashed solid double;
}
/* Border Width & Outline Width*/
p.one {
    border-style: solid;
    border-width: 5px;
    outline-style: solid;
    outline-width: 4px;
}
p.two {
    border-style: solid;
    border-width: medium;
    outline-style: solid;
    outline-width: medium;
}
p.three {
    border-style: dotted;
    border-width: 2px 5px;
    outline-style: dotted;
    outline-width: 1px 4px;
}
p.four {
    border-style: dotted;
    border-width: thick;
    outline-style: dotted;
    outline-width: thick;
}
/* Border Color & Outline Color*/
p.allSide {
    border-style: solid;
    border-color: red;
    outline-style: solid;
    outline-color: red;
}
p.customAllSide {
    border-style: solid;
    border-color: red green blue yellow;
    border-style: solid;
    border-color: red green blue yellow;
}
/* Border & Outline Shorthand */
p.borderShorthand {
    border: 3px solid purple;
    outline: 3px solid red;
}